@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .from-brown-800 {
    background-color: #31220b;
  }

  .to-brown-900 {
    background-color: #382e1b;
  }

  .fade-slide-in-from-top {
    animation: fade-slide-in-from-top 0.3s ease-in-out;
  }
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background: linear-gradient(#31220b, #382e1b);
  color: #f3e7d4;
  min-height: 100vh;
}